/project Backups
/.vscode
/bin/core
/bin/libraries
/bin/preproc
/bin/sketch
bin/build.options.json
bin/CounterRonaldProject_vNano.ino.eep
bin/CounterRonaldProject_vNano.ino.elf
bin/CounterRonaldProject_vNano.ino.with_bootloader.bin
bin/CounterRonaldProject_vNano.ino.with_bootloader.hex
bin/includes.cache
